body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#game-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: 10px;
}

#game-board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 24px;
}
.correct, .absent, .present{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 24px;
}

.correct {
  background-color: green;
  color: white;
}

.present {
  background-color: yellow;
  color: black;
}

.absent {
  background-color: gray;
  color: white;
}
